body {
    background: #fdde7e;
    text-decoration: none;
    width: 1200px;
    height: 100%;
    
    margin: 0 auto;
}
​
body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
​
input,
textarea,
select {
    outline: none;
    font-family: Arial;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
​
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
​
a {
    text-decoration: underline;
    outline: none;
}
​
a:hover {
    text-decoration: none;
}
​
h1, h2 {
    font-size: 20px;
    padding: 0 0 10px 0;
    color: #545454;
}
​
.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
}
.mainer{
 margin-top:10% ;

 margin-bottom: 10%;

}
.block-price{
list-style: none;
display: flex;
margin: 0 ;
padding: 0;
flex-direction: row;
justify-content: space-evenly;

}
li{
border: 1px solid #edd076;
background-color: white;
width:362px;
box-sizing: border-box;
border-radius: 2%;
overflow-wrap: break-word;
padding-top: 2%;

}
.price{
    font-size: 70px;
    color: #02995b;
    text-align:center;
    font-weight: bold;
}

h1{
    font-size: 36px;
    color: #333333;
    padding-bottom: 7%;
}
.text{
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #858585;
    font-size: 18px;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 10%;
}
img{
    display: block;
    margin: 2% auto 8% auto;
}

li:nth-child(2){
    margin-top: -29px;
    margin-bottom: -29px;
    padding-top: 54px;
}