.mainer{
  max-width: 1120px;
  margin: 0 auto;
  padding: 0;
}
body{
  background-color: #e2e7ec;
}
.block{
  background-color: white;
  margin-top: -3px;
  width: 100%;
}
.col-8{
  margin-bottom: 1%;
  padding-right: 9px;
}
.row{
  margin-right: 0%;
}
h2{
  color: #929292;
  font-size: 13px;
  text-transform: uppercase;
  padding-bottom: 4%;
  padding-bottom: 25px;
  overflow-wrap: break-word;
}
.text{
  font-size: 22px;
  text-transform: uppercase;
  padding-left: 5%;
  padding-top: 6%;
  overflow-wrap: break-word;
}
.men{
  padding: 20% 5% 6%;
}
.text-img{
  position: absolute;
  top: 75%;
  left: 6%;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  width: 60%;
}
.big{
  position: relative;
}
span{
  margin-top: 12%;
  display: block;
  overflow-wrap: break-word;
}
.car,
.women,
.girls,
.bench,
.boots{
  width: 100%;
}
.align{
  margin-top: 5px;
  padding-right: 9px;
}
.col-4:last-child{
  padding-left: 11px;
  padding-top: 5px;
}
.col-4:nth-child(2){
  padding-left: 11px;
}
 a{
  font-size: 22px;
  text-transform: uppercase;
  padding-left: 5%;
  padding-top: 6%;
  overflow-wrap: break-word;
  text-decoration: none; 
  font-weight: bold;
  padding: 0;
}
.text-img a{
  font-size: 30px;
  text-transform: uppercase;
  color: white;
}
 .text-img a:hover{
  color: aquamarine;
  font-size: 32px;
}
a:hover{
  color:  #a12d2d;
  font-size: 24px;
}

